<!-- <footer class="bg-white rounded-lg shadow bottom-20 mx-4 mt-0 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2002 - 2024
      <a href="https://uzinfocom.uz/" class="hover:underline">UZINFOCOM.</a> Все
      права защищены.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer> -->
<footer class="bg-[#33445F] py-[2.188rem] dark:bg-gray-800">
  <div class="container mx-auto flex flex-col px-5 lg:px-16 lg:pt-[1.563rem]">
    <div class="flex flex-col justify-between lg:flex-row">
      <div
        class="flex flex-col items-center gap-7 lg:flex-row lg:items-start lg:gap-16"
      >
        <img
          alt="Logo"
          loading="lazy"
          width="176"
          height="30"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          src="../../../assets/uzinfocom-white-logo.svg"
        />
        <!-- <mat-icon
          alt="Logo"
          loading="lazy"
          width="176"
          height="30"
          decoding="async"
          data-nimg="1"
          style="color: transparent"
          svgIcon="/src/assets/uzinfocom-white-logo.svg"
        ></mat-icon> -->
        <div class="flex justify-between gap-7 lg:gap-16">
          <div class="flex flex-col gap-4">
            <a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/about"
              >О компании</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/management"
              >Руководство</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/certificates"
              >Сертификаты и лицензии</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/career"
              >Вакансии</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/tenders"
              >Тендеры</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/memorandums"
              >Меморандумы</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/anti-corruption"
              >Противодействие коррупции</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/media-library"
              >Медиатека</a
            >
          </div>
          <div class="flex flex-col gap-4">
            <a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/services"
              >Услуги</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/projects"
              >Проекты</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/news"
              >Новости и статьи</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/contacts"
              >Контакты</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/policy"
              >Политика конфиденциальности</a
            ><a
              class="w-fit text-xs font-bold text-white sm:text-sm lg:font-medium"
              href="https://uzinfocom.uz/company/terms-of-use"
              >Условия пользования</a
            >
            <div class="flex gap-3 pt-3 lg:hidden">
              <a
                target="_blank"
                class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 dark:bg-[#074196]"
                href="https://www.youtube.com/@uzinfocom_official"
                ><img
                  alt="Social"
                  loading="lazy"
                  width="20"
                  height="20"
                  decoding="async"
                  data-nimg="1"
                  class="shrink-0"
                  style="color: transparent"
                  src="https://uzinfocom.uz/media/Preference/youtube_ioVVftv.svg" /></a
              ><a
                target="_blank"
                class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 dark:bg-[#074196]"
                href="https://t.me/uzinfocomofficial"
                ><img
                  alt="Social"
                  loading="lazy"
                  width="20"
                  height="20"
                  decoding="async"
                  data-nimg="1"
                  class="shrink-0"
                  style="color: transparent"
                  src="https://uzinfocom.uz/media/Preference/Black.svg" /></a
              ><a
                target="_blank"
                class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 dark:bg-[#074196]"
                href="https://www.instagram.com/uzinfocom_official"
                ><img
                  alt="Social"
                  loading="lazy"
                  width="20"
                  height="20"
                  decoding="async"
                  data-nimg="1"
                  class="shrink-0"
                  style="color: transparent"
                  src="https://uzinfocom.uz/media/Preference/instagram_XBwTzQr.svg"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-4 pt-7 lg:items-start lg:pt-0">
        <a
          target="_blank"
          class="flex min-h-16 w-full cursor-pointer items-center gap-3 rounded-lg border border-solid border-[#ffffff1a] px-4 py-3 hover:bg-white/10 sm:w-1/2 lg:w-full lg:max-w-72"
          href="mailto:info@uzinfocom.uz"
          ><img
            alt="Icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            srcset="
              /_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154237.993.png&amp;w=32&amp;q=75 1x,
              /_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154237.993.png&amp;w=48&amp;q=75 2x
            "
            src="/_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154237.993.png&amp;w=48&amp;q=75"
          />
          <p class="text-sm font-bold text-white">{{'info@uzinfocom.uz'}}</p></a
        ><a
          target="_blank"
          class="flex min-h-16 w-full cursor-pointer items-center gap-3 rounded-lg border border-solid border-[#ffffff1a] px-4 py-3 hover:bg-white/10 sm:w-1/2 lg:w-full lg:max-w-72"
          href="https://www.google.com/maps/search/?api=1&amp;Республика Узбекистан, город Ташкент, 100011 улица А.Навои, 28Б"
          ><img
            alt="Icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            srcset="
              /_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154325.035.png&amp;w=32&amp;q=75 1x,
              /_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154325.035.png&amp;w=48&amp;q=75 2x
            "
            src="/_next/image?url=https%3A%2F%2Fuzinfocom.uz%2Fmedia%2FPreference%2FUntitled_design_-_2024-08-07T154325.035.png&amp;w=48&amp;q=75"
          />
          <p class="text-sm font-bold text-white">
            Республика Узбекистан, город Ташкент, 100011 улица А.Навои, 28Б
          </p></a
        ><a
          target="_blank"
          class="flex min-h-16 w-full cursor-pointer items-center gap-3 rounded-lg border border-solid border-[#ffffff1a] px-4 py-3 hover:bg-white/10 sm:w-1/2 lg:w-full lg:max-w-72"
          href="tel:+998712022202"
          ><img
            alt="Icon"
            loading="lazy"
            width="24"
            height="24"
            decoding="async"
            data-nimg="1"
            style="color: transparent"
            src="https://uzinfocom.uz/media/Preference/call_Vu7vx6b.svg"
          />
          <p class="text-sm font-bold text-white">+998712022202</p></a
        >
      </div>
    </div>
    <div
      class="my-5 h-px bg-footer-gradient lg:mb-[2.188rem] lg:mt-[3.75rem]"
    ></div>
    <div class="flex items-center justify-center lg:justify-between">
      <p class="text-xs font-medium text-white dark:text-[#9CA1A9] lg:text-sm">
        UZINFOCOM © 2002 -
        <!-- -->2024<!-- -->.<!-- -->
        <!-- -->Все права защищены
      </p>
      <div class="hidden gap-3 lg:flex">
        <a
          target="_blank"
          class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 hover:bg-[#074196] dark:bg-[#074196] dark:hover:bg-[#47566F]"
          href="https://www.youtube.com/@uzinfocom_official"
          ><img
            alt="Social"
            loading="lazy"
            width="20"
            height="20"
            decoding="async"
            data-nimg="1"
            class="shrink-0"
            style="color: transparent"
            src="https://uzinfocom.uz/media/Preference/youtube_ioVVftv.svg" /></a
        ><a
          target="_blank"
          class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 hover:bg-[#074196] dark:bg-[#074196] dark:hover:bg-[#47566F]"
          href="https://t.me/uzinfocomofficial"
          ><img
            alt="Social"
            loading="lazy"
            width="20"
            height="20"
            decoding="async"
            data-nimg="1"
            class="shrink-0"
            style="color: transparent"
            src="https://uzinfocom.uz/media/Preference/Black.svg" /></a
        ><a
          target="_blank"
          class="flex items-center justify-center rounded-full border border-solid border-[#ffffff1a] bg-[#47566F] p-1.5 hover:bg-[#074196] dark:bg-[#074196] dark:hover:bg-[#47566F]"
          href="https://www.instagram.com/uzinfocom_official"
          ><img
            alt="Social"
            loading="lazy"
            width="20"
            height="20"
            decoding="async"
            data-nimg="1"
            class="shrink-0"
            style="color: transparent"
            src="https://uzinfocom.uz/media/Preference/instagram_XBwTzQr.svg"
        /></a>
      </div>
    </div>
  </div>
</footer>
