<main
  class="flex flex-col justify-between items-center text-center bg-white"
  style="min-height: 100vh"
>
  <div class="w-full bg-green-600" *ngIf="!onSign">
    <app-header class="sticky" style="width: 100%"></app-header>
  </div>
  <div class="grow" style="width: 100%">
    <router-outlet></router-outlet>
  </div>
  <div style="width: 80vw; margin-bottom: 20px;" class="flex items-center justify-center " *ngIf="!onSign">
    <app-footer class=" h-12   " style="width: 100%"></app-footer>
  </div>
</main>
