
    <div
      class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3"
    >
      <div class="flex justify-between">
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
          >
            House name: {{houseService.home?.houseName}}
          </div>
          <p class="block mt-1 text-lg leading-tight font-medium text-black">
            {{houseService.home?.city}} , {{houseService.home?.state}}
          </p>
          <p class="mt-2 text-gray-500">Owner: {{userService.userInfo?.userName}} {{userService.userInfo?.userLastName}} </p>
          
          <button
            class="mt-5 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            View Details
          </button>
          <button 
          (click)="cencelCard(card?.id!)"
            class="mt-5 ml-3 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          >
            Cancel Appointment
          </button>
        </div>
        <div class="end-0  h-72 mr-0 pr-0" >
            <img [src]="imageService.fileUrl" class="w-full h-full  " style="object-fit: fill; ">
        </div>
      </div>
    </div>
  
  